<p id="notice"><%= notice %></p>

<h1>Sinhviens</h1>

<table>
  <thead>
    <tr>
      <th>Ho ten</th>
      <th>Nam sinh</th>
      <th>Dia chi</th>
      <th>Hinh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sinhviens.each do |sinhvien| %>
      <tr>
        <td><%= sinhvien.hoten %></td>
        <td><%= sinhvien.namsinh %></td>
        <td><%= sinhvien.diachi %></td>
        <td><%= sinhvien.hinh %></td>
        <td><%= link_to 'Show', sinhvien %></td>
        <td><%= link_to 'Edit', edit_sinhvien_path(sinhvien) %></td>
        <td><%= link_to 'Destroy', sinhvien, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sinhvien', new_sinhvien_path %>
